.appbar-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.appbar-icon-search {
  z-index: 0;
  margin: 0 -32px 0 8px;
  color: rgba(white, .5);
}

.appbar-input {
  z-index: 1;
  border: 0;
  outline: 0;
  padding: 0 0 0 36px;
  color: $mui-text-light;
  background: transparent;
  border-radius: 2px;
  width: 100%;
  height: 36px;
  vertical-align: middle;
  &::placeholder {
    color: rgba(white, .5);
  }
  &:focus {
    background: rgba(white, .1);
  }
  &:focus, &:not(:placeholder-shown) {
    & ~ .appbar-icon-search {
      color: white;
    }
  }
}
