.video-empty {
  margin: 24px 0;
  text-align: center;
}

.video-container {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  margin: 24px 0;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
